@import "~bootswatch/dist/lumen/_variables.scss";
@import "~bootswatch/dist/lumen/bootstrap.min.css";
@import "~bootswatch/dist/lumen/_bootswatch.scss";

.navbar {
    height: 60px;
}

.map-2gis {
    width: 100%;
    height: calc(100vh - 60px - 1rem);
}

#map {
    width: 100%;
    height: 100%;
}

a.nav-link {
    font-size: 20px;
}

.popup {
    transition: all .5s linear;
    position: absolute;
    background: #e0e0e0;
    box-shadow: 10px 10px 30px #808080;
    border: 1px solid #404040;
    z-index: 1000;
    top: 154px;
    width: 30%;
    height: calc(100vh - 214px);
    overflow-y: auto;
}

.popup-place {
    left: -35%;
}

.popup-question {
    left: -35%;
}

.popup-place.show {
    left: 1%;
}

.popup-question.show {
    left: 69%;
}

.popup-close {
    position: absolute;
    top: 3px;
    right: 10px;
    color: #000;
    font-size: 24px;
}

.popup-close:hover {
    color: #404040;
    text-decoration: none;
}

#btn-question {
    width: 80%;
}

/*WINDOWS*/

.login-block {
    background-color:#fff;
    padding:60px 30%;
    text-align: center;
}

.login-block h1 {
    font-family: Open Sans,sans-serif;
    color: #96a2b2;
    letter-spacing:1px;
    font-size: 22px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.login-block .input-group-addon {
    font-size: 19px;
    opacity: .5;
    margin-right: 10px;
}

.btn:not(.disabled):hover {
    margin-top: inherit;
    border-bottom-width: 4px;
}

.input-group {
    align-items: center;
    justify-content: center;
}

.progress {
    width: 80%;
    position: absolute;
    top: 82px;
    left: 10%;
    background: #bbb;
    z-index: 10000;
}
