@{
    ViewData["Title"] = "Home Page";
}

<div class="popup-menu" id="popupMenu">
    <h1 class="h1 text-center font-weight-bold my-1 p-1">Заголовок</h1>
    <a class="popup-close" id="popupClose" href="#close">×</a>
    <p class="my-1 px-3 text-justify">
        Текст Текст Текст Текст
        Текст Текст Текст Текст Текст
        Текст Текст Текст Текст
        Текст Текст Текст Текст
        Текст Текст Текст Текст
        Текст Текст Текст Текст
    </p>
</div>

<div class="map-2gis">
    <div id="map"></div>
</div>
