@page
@model LoginModel
@{
    ViewData["Title"] = "Авторизация пользователя";
}

<div class="login-block">
    <img src="~/images/1.png" class="img-fluid" alt="Scanfcode" width="200">
    <h1>@ViewData["Title"]</h1>
    <form id="account" method="post">
		<div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user ti-user"></i></span>
                <input asp-for="Input.Email" type="text" class="form-control" placeholder="Ваш Email">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock ti-unlock"></i></span>
                <input asp-validation-for="Input.Password" type="password" class="form-control" placeholder="Ваш пароль">
            </div>
        </div>
		<div class="form-group">
			<div class="custom-control custom-checkbox">
				<label asp-for="Input.RememberMe">
					<input asp-for="Input.RememberMe" />
					Запомнить меня
				</label>
			</div>
		</div>
        <button class="btn btn-secondary btn-block" type="submit">ВОЙТИ НА САЙТ</button>
    </form>
</div>

<div class="login-links">
    <p class="text-center">Еще нету аккаунта? <a class="txt-brand" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl"><font color=#29aafe>Регистрируйся</font></a></p>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
